#hc-tp-usage .hc-result-value {
    color: #34495e;
    font-size: 28px;
    font-weight: bold;
}
#hc-tp-usage .hc-tp-info {
    font-size: 13px;
    color: #7f8c8d;
    text-align: center;
    margin-top: 10px;
}
