.hc-atik-su-debisi-result-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.hc-atik-su-debisi-result-item:last-child {
    border-bottom: none;
}

@media (max-width: 480px) {
    .hc-atik-su-debisi-result-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
