.hc-burc-elementi-result {
    text-align: center;
}

.hc-element-value {
    font-size: 2rem;
    font-weight: bold;
    color: #e67e22; /* Ateş rengi varsayılan */
    margin: 10px 0;
}

.hc-element-desc {
    font-style: italic;
    color: #666;
}
