#hc-bin-div .hc-result-value { font-size: 2.2rem; color: var(--hc-primary); font-family: monospace; }
#hc-bd-res-rem { font-family: monospace; font-size: 1.2rem; margin-top: 5px; }
.hc-bd-res { margin-bottom: 10px; }
