#hc-pc-power .hc-result-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#hc-pc-power .hc-result-value {
    font-weight: bold;
    color: #e67e22;
}
