.hc-calculator#hc-pancake-scaling {
    background: #fffdf2;
    border: 1px solid #fdd835;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.hc-result-item strong {
    color: #fbc02d;
    font-size: 1.4em;
}

#hc-ps-res-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
