#hc-mutlak-belirsizlik-hesaplama textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
}

#hc-mutlak-belirsizlik-hesaplama-result .hc-result-value {
    color: #c0392b;
}
