.hc-eso-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 15px;
}

.hc-eso-item {
    background: rgba(255, 255, 255, 0.05);
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

#hc-esans .hc-result {
    text-align: center;
}
