#hc-asc-sort textarea {
    min-height: 80px;
}
.hc-sorted-box {
    background: #fdfdfd;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
    font-family: monospace;
    font-size: 1.1rem;
    line-height: 1.6;
    word-break: break-all;
    color: #2c3e50;
    margin-top: 10px;
}
