.hc-mtv-2026- .hc-result-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.hc-mtv-2026- .hc-result-item:last-child {
    border-bottom: none;
}
