#hc-seq-sum .hc-result-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#hc-seq-sum .hc-result-value {
    font-weight: bold;
}

#hc-seq-sum .hc-result-value.highlight {
    color: #27ae60;
    font-size: 1.2em;
}
