#hc-denge .hc-result {
    text-align: center;
}

.hc-result-note {
    font-size: 0.85em;
    opacity: 0.7;
    font-style: italic;
    margin-top: 10px;
}

@media (max-width: 480px) {
    #hc-denge input {
        font-size: 0.8em;
    }
}
